#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    position: relative;
    height: 30px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
  }
  
  body{
    background: #041c36;
}@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

  #progress-wrp .progress-bar {
    height: 100%;
    border-radius: 3px;
    background-color: #f39ac7;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
  }
  
  #progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
  }
    #upload{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    }
    #files{
        font-size: 25px;
        font-weight: 500;
        color: #007bff;
        padding: 15px 30px;
        border-radius: 5px;
        background: #fff;
        cursor: pointer;
        }