.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 718px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 74px auto 74px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  width: 310px;
  height: 447px;
  margin: 39px 35px 0;
}

.u-section-1 .u-text-1 {
  margin: 50px 20px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 5px 20px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 636px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-2 {
  width: 320px;
  height: 425px;
  margin: 55px 20px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 57px 20px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 10px 20px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 636px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-3 {
  width: 264px;
  height: 456px;
  margin: 39px 71px 0 45px;
}

.u-section-1 .u-text-5 {
  margin: 41px 20px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  margin: 5px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 629px;
  }

  .u-section-1 .u-image-1 {
    width: 215px;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 629px;
  }

  .u-section-1 .u-image-2 {
    width: 193px;
    height: 416px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 629px;
  }

  .u-section-1 .u-image-3 {
    width: 227px;
    margin-left: 12px;
    margin-right: 38px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 149px;
    height: 346px;
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-2 {
    width: 126px;
    height: 319px;
    position: relative;
  }

  .u-section-1 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-3 {
    width: 150px;
    height: 415px;
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 241px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 39px;
  }

  .u-section-1 .u-image-2 {
    width: 207px;
    margin-top: 61px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 61px;
  }

  .u-section-1 .u-image-3 {
    width: 242px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-image-1 {
    width: 223px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-1 .u-image-2 {
    width: 240px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-3 {
    width: 222px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 {
  background-image: url("images/67bd5b492602e5b09bfd6870cc191d1a.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 748px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 650px;
  margin: 229px auto 60px 22px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 126px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 322px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 322px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 322px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    position: relative;
  }

  .u-section-2 .u-text-4 {
    position: relative;
    font-size: 1.25rem;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 187px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 149px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 272px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 137px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 153px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 251px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1188px;
}

.u-section-3 .u-group-1 {
  min-height: 426px;
  height: auto;
  width: 1140px;
  margin: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  margin: 31px 209px 0 297px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  text-transform: uppercase;
  margin: -12px 209px 0 305px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0 3px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/efd1787307b49297fed74405d75e9d69.jpeg");
  min-height: 346px;
  background-position: 95.59% 50%;
}

.u-section-3 .u-image-2 {
  background-image: url("images/cc324d741b75bc6024f03cafc9a569fc.jpeg");
  min-height: 346px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-3 {
  background-image: url("images/7827a2e1525de4a651bb383182eac2ee.jpeg");
  min-height: 346px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-4 {
  background-image: url("images/1fa8a54fb88b3eba14f0d51a59984588.png");
  min-height: 350px;
  background-position: 50% 50%;
}

.u-section-3 .u-image-5 {
  background-image: url("images/7b6b0b27ad9f2897db0217365a5a1f04.jpeg");
  min-height: 350px;
  background-position: 75.68% 50%;
}

.u-section-3 .u-image-6 {
  background-image: url("images/ad9850ee5507d59500fcb7c6921e6d39.png");
  min-height: 350px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -122px;
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 109px;
    margin-left: 197px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 205px;
    margin-right: 109px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 189px;
    width: 940px;
  }

  .u-section-3 .u-image-1 {
    min-height: 285px;
  }

  .u-section-3 .u-image-2 {
    min-height: 285px;
  }

  .u-section-3 .u-image-3 {
    min-height: 285px;
  }

  .u-section-3 .u-image-4 {
    min-height: 289px;
  }

  .u-section-3 .u-image-5 {
    min-height: 289px;
  }

  .u-section-3 .u-image-6 {
    min-height: 289px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -257px;
    width: 720px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 94px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 324px;
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 218px;
  }

  .u-section-3 .u-image-2 {
    min-height: 218px;
  }

  .u-section-3 .u-image-3 {
    min-height: 218px;
  }

  .u-section-3 .u-image-4 {
    min-height: 221px;
  }

  .u-section-3 .u-image-5 {
    min-height: 221px;
  }

  .u-section-3 .u-image-6 {
    min-height: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2143px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 2268px;
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 491px;
  }

  .u-section-3 .u-image-2 {
    min-height: 491px;
  }

  .u-section-3 .u-image-3 {
    min-height: 491px;
  }

  .u-section-3 .u-image-4 {
    min-height: 497px;
  }

  .u-section-3 .u-image-5 {
    min-height: 497px;
  }

  .u-section-3 .u-image-6 {
    min-height: 497px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1411px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 1170px;
    width: 340px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    min-height: 309px;
  }

  .u-section-3 .u-image-2 {
    min-height: 309px;
  }

  .u-section-3 .u-image-3 {
    min-height: 309px;
  }

  .u-section-3 .u-image-4 {
    min-height: 313px;
  }

  .u-section-3 .u-image-5 {
    min-height: 313px;
  }

  .u-section-3 .u-image-6 {
    min-height: 313px;
  }
}